.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.avengers {
    aspect-ratio: 13/12;
    object-fit: cover;
    object-position: top;

}

.card {
    border: 0 !important;
}

.avengers-body {
    background: rgb(94, 45, 217);
    background: linear-gradient(63deg, rgba(94, 45, 217, 1) 11%, rgba(245, 246, 247, 1) 82%);
    border-radius: 8px;
}

.batman-body {
    background: rgb(43, 18, 12);
    background: linear-gradient(4deg, rgba(43, 18, 12, 1) 36%, rgba(223, 106, 20, 1) 76%);
    border-radius: 8px;
}

.allonce-body {
    background: rgb(133, 4, 4);
    background: linear-gradient(177deg, rgba(133, 4, 4, 1) 24%, rgba(68, 14, 23, 1) 100%);
    border-radius: 8px;
}